body {
  background-color: #ddd;
  margin: 0;
  font-family: Georgia, serif;
}
h1 {
  font-family: 'Allura', cursive;
  font-size: 80px;
  margin: 0 auto;
  width: 100%;
  height: 85px;
  text-align: center;
  position: fixed; top: 0;
  background-color: #ddd;
  z-index: 1000;
  -webkit-box-shadow: 0px 11px 5px -2px rgba(221,221,221,0.8);
  -moz-box-shadow: 0px 11px 5px -2px rgba(221,221,221,0.8);
  box-shadow: 0px 11px 5px -2px rgba(221,221,221,0.8);
}
div#container {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px; margin-bottom: 20px;
  padding: 10px;
}
.city {
  background-color: white;
  position: relative;
  padding-left: 8px; padding-right: 8px;
  margin: 0;
  border: 5px solid white;
}
.city h3 {
  position: absolute;
  top: -34px;
  left: -220px;
  width: 200px;
  text-align: right;
  // font-family: 'Allura', cursive;
  font-size: 30px;

  -webkit-transform: rotate(-90deg);
  left: -125px;
  top: 74px;
}
.city span:hover {
  background-color: #FFFFC0;
  cursor: pointer;
}
span.highlight {
  background-color: #FFFFC0;
}
.dimmed {
  opacity: 0.2;
}

