body {
  background-color: #ddd;
  margin: 0;
  font-family: Georgia, serif;
  background-image: url(background.png);
}
h1 {
  font-family: 'Allura', cursive;
  font-size: 80px;
  width: 70%;
  height: 85px;
  text-align: center;
  position: fixed; 
  margin: 0;
  top: 0; 
  left: 15%;
  background-color: #ddd;
  z-index: 1000;
  -webkit-box-shadow: 0px 11px 5px -2px rgba(221,221,221,0.8);
  -moz-box-shadow: 0px 11px 5px -2px rgba(221,221,221,0.8);
  box-shadow: 0px 11px 5px -2px rgba(221,221,221,0.8);
}
div#container {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px; margin-bottom: 20px;
  padding: 10px;
}

#credits {
  width: 12%;
  height: 20%;
  position: fixed;
  top: 79%;
  left: 86.5%;
  background-color: rgba(213,213,213,0.8);
  padding: 5px;
  color: #333;
  font-size: 10px;
}

#credits a {
  color: #222;
}

.city {
  background-color: white;
  position: relative;
  padding-left: 8px; padding-right: 8px;
  margin: 0;
  border: 5px solid white;
}

body .city h3 {
  position: absolute;
  text-align: right;
  width: 99%; 
  z-index: 2000;
  font-size: 30px;
  margin: 0;
  color: #ddd;
  margin-top: 12px;
  left: 5px;
  top: 0px;
}

body:not(.focused) .city h3 {
  visibility: hidden;
}

.city a {
  text-decoration: none;
  color: black;
  outline: none;
}

body:not(.focused) .city a:hover {
  background-color: #FFFFEF;
  cursor: pointer;
}
a.highlight {
  background-color: #FFFFC0;
}
.dimmed {
  opacity: 0.2;
}

